.headbox {
    background-color: #1F2937;
    height: 75px;
    display: flex;
    color: #F9FaF8;
    font-size: 24px;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
    align-items: top;
    padding-bottom: 0px;
}

.headbox p {
    padding-left: 50px;
}

.headerlist {
    display: inline-flex;
    padding: 20px;
    color: #E5E7EB;
    font-size: 18px;
    gap: 3em;
}

.headerlist li {
    margin-right: 0px;
    display: flex;
    gap: 3em;
    padding: 5px, 14px;
}

.headermain {
    display: flex;
    background-color: #1F2937;
    border: 2px, purple;
}

.leftside p {
    display: grid;
    font-size: 48px;
    font-style: bold;
    color: #F9FaF8;
    flex: 1;
    padding-left: 50px;
    width: 500px;
}

.leftside h3 {
    display: grid;
    font-size: 18px;
    color: #E5E7EB;
    flex: 1;
    padding-left: 50px;
    width: 500px;
}

.rightside {
    flex: 2;
    background-color:#1F2937;
    z-index: 5;
    justify-content: center;
    padding: 25px, 25px;
}

.rightside h3 {
    background-color: grey;
    width: 300px;
    margin-left: 250px;
    margin-top: 65px;
    height: 200px;
}

.signup h3 {
    background-color: #3882f6;
    width: 85px;
    height: 30px;
    margin-left: 50px;
    padding-left: 0px;
    text-align: center;
    border-radius: 7px;
}

.info {
    color: #1F2937;
    font-size: 36px;
    padding-top: 50px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: auto;
}

.boxa {
    border-style: solid;
    border-color: #3882f6;
    border-radius: 20px;
    height: 50px;
    flex: 1;
    margin-left: 250px;
    margin-top: 50px;
    height: 125px;

}

.boxb {
    border-style: solid;
    border-color: #3882f6;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    height: 125px;
    flex: 1;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}


.boxc {
    border-style: solid;
    border-color: #3882f6;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    height: 125px;
    flex: 1;
    margin-top: 50px;
    margin-right: 50px;
}


.boxd {
    border-style: solid;
    border-color: #3882f6;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    height: 125px;
    flex: 1;
    margin-right: 250px;
    margin-top: 50px;
}

.textline {
    display: grid;
    text-align: center;
    padding: 0px 100px;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 150px;
    margin-right: 50px;
    font-weight: lighter;
}


.texta {
    width: 150px;
}

.textb {
    width: 150px;
}

.textc {
    width: 150px;
}

.textd {
    width: 150px;
    padding-right: 45px;
}

.quotecontainer {
    background-color: #E5E7EB;
    height: 400px;

}

.quotecontainer h1 {
    text-align: center;
    padding-top: 100px;
    padding-left: 250px;
    padding-right: 250px;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.quotecontainer h3 {
    margin-left: 900px;
    font-size: x-large;
}

.actioncall {
    background-color: #3882f6;
    margin-top: 50px;
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
   
}

.actioncall h2 {
    color: white;
    padding-top: 20px;
    margin-left: 250px;
}

.actioncall h4 {
    color: white;
    padding-left: 250px;
    
 
   
}

.actioncall h3 {
    color: white;
    margin-bottom: 50px;
}

.signupbutton {
    border-style: solid;
    border-color: white;
    width: 75px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    text-justify: center;
}